version: "3.3"
services:
  homepage:
    image: ghcr.io/gethomepage/homepage:v1
    container_name: homepage
    environment:
      - HOMEPAGE_ALLOWED_HOSTS="{{ registerable_domain }},{{ host_address_with_port }}"
      #PUID: 1000 -- optional, your user id
      #PGID: 1000 -- optional, your group id
    ports:
      - 6006:3000
    volumes:
      - ./config:/app/config # Make sure your local config directory exists
      - /var/run/docker.sock:/var/run/docker.sock:ro # optional, for docker integrations
    restart: unless-stopped
