http:
  routers:

    traefik-secure:
      rule: Host(`traefik-dashboard.external.{{ registerable_domain }}`)
      entryPoints:
        - "https"
      priority: 10
      tls:
        certresolver: porkbun
        domains:
          - main: "external.{{ registerable_domain }}"
            sans: "*.external.{{ registerable_domain }}"
      service: api@internal

    wildcard:
      entryPoints:
        - "https"
      rule: HostRegexp(`^.+\.external.{{ registerable_domain | replace(".", "\.") }}$`)
      middlewares:
        - https-redirectscheme
        - default-headers
      tls: {}
      service: wildcard-service
