http:
  routers:

    traefik-secure:
      rule: Host(`traefik-dashboard.external.{{ registerable_domain }}`)
      entryPoints:
        - "https"
      priority: 10
      tls:
        certresolver: porkbun
        domains:
          - main: "external.{{ registerable_domain }}"
            sans: "*.external.{{ registerable_domain }}"
      service: api@internal

    filebrowser:
      entryPoints:
        - "https"
      rule: Host(`filebrowser.external.{{ registerable_domain }}`)
      middlewares:
        - https-redirectscheme
        - default-headers
      tls: {}
      service: filebrowser-service

    photos:
      entryPoints:
        - "https"
      rule: "Host(`photos.external.{{ registerable_domain }}`)"
      middlewares:
        - default-headers
        - https-redirectscheme
      tls: {}
      service: photos-service
